/*Подключение шрифтов*/
@import url("https://fonts.cdnfonts.com/css/baron-neue");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
// @import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url(https://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy-Regular);
@import url("https://fonts.cdnfonts.com/css/furore");

/*Обнуление стилей*/
@import "_nullstyle";

/*Шрифты*/
$font-logo: "Arial";
$font-title: "Baron Neue";
$font-subtitle: "Gilroy-Regular";
$font-text: "Gilroy-Regular";

/*Палитра цветов*/
$color-white: #fff;
$color-light-blue: #ccdedb;
$color-blue: #28b8af;
$color-dark-blue: #0d3a37;
$color-bg: #11212a;
$color-container: #1f4e5c;
$color-sub-bg: #0a2b30;

@mixin fontStyle(
    $color,
    $font-family,
    $font-size,
    $font-style: normal,
    $font-weight: 400,
    $line-height: "",
    $letter-spacing: ""
) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

* {
    @include fontStyle($color-light-blue, $font-text, 17px);
}

%logoFont {
    @include fontStyle($color-white, $font-logo, 20px, $line-height: 1.12);
}

%textFont {
    @include fontStyle($color-light-blue, $font-text, 17px, normal, 400, 28px, 1.36px);
}

%titleBlueFont {
    @include fontStyle($color-blue, $font-subtitle, calc(19px + 16 * (100vw / 1920)), normal, 500, normal, 1.4px);
}

%titleWhiteFont {
    @include fontStyle($color-white, $font-title, calc(19px + 6 * (100vw / 1920)), normal, 400, normal, 1px);
}

%subtitleWhiteFont {
    @include fontStyle($color-white, $font-subtitle, calc(19px + 3 * (100vw / 1920)), normal, 500, normal, 0.88px);
}

a,
nav-item {
    @include fontStyle($color-white, $font-text, 16px);
}

button {
    background-color: $color-blue;
    color: #ffffff;
    border-radius: 5px !important;
    @extend %textFont;

    transition: 0.2s ease;

    &:hover {
        background-color: $color-dark-blue;
    }
}

a {
    color: #f1e7e7 !important;
    transition: 0.2s ease;

    &:hover {
        color: $color-blue !important;
    }
}

body {
    background: $color-container;
}

.container {
    background: $color-container;
    position: relative;
    z-index: 15;

    @media (min-width: 350px) and (max-width: 780px) {
        max-width: 100%;
    }
}

.bg-dragons {
    position: fixed;
    top: 0px;
    width: 100%;
}

.text {
    @extend %textFont;
}
